﻿{% extends "app/layout.html" %}

{% block content %}


<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<p>Если у вас возникли вопросы и/или предложения и/или связанные с  работой программы, просьба написать на почту: </p>
<strong>Почта поддержки: </strong>   <a href="mailto:loginka9@gmail.com">loginka9@gmail.com</a><br />

<strong>Маркетинг (в теме письма поставить тэг "Бабло"): </strong> <a href="mailto:loginka9@gmail.com">loginka9@gmail.com</a>



{% endblock %}
