﻿
<!DOCTYPE html>

<html lang="ru" xmlns="http://www.w3.org/1999/xhtml">
<head>
     <title>{{ title }} - Реализовано с помощью Django сервера, джанго-манго - звучит то как !)</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    
    
    <style>
        .container {
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
}
        .container{
        	margin-top:10px;
        }
        .form_all {
            margin-top: 10px;
        }
        .magazin {

            font-family: "Times New Roman", Georgia, Serif;
            
           /* border: 1px solid #000;
            border-radius: 10px;*/
            font-size:20px;
            float: left;
            width: 40%;
        }
        .magaz_1 {
            margin-left:3%;
            float:left;
             width: 49%;
            }
        .magazin_2 {
            float:right;
            width: 48%;
        }
        .param_sort{
            margin-left:40px;
        	font-size:20px;
        }
        .poisk {
            
            font-size: 15px;
        }
        .sort{
            vertical-align:central;
            float:left;
            font-style: normal;
            width: 50%;
            margin-bottom: 15px;
        }
        .all_sort {
            
 margin-left:50%
        }
        .sm_sort {
            <!--width: 50%;-->
            font-size: 20px;
            <!--float:right;-->
        }/*
        .recover {*/
           /*   position: fixed; /* Фиксированное положение */
        /*   border: 1px solid #000;
    		left: 0; bottom: 0;
            margin-top: 10%;
            float: left;
            width: 40%;
               
            font-size:15px;
        } 
        */
		.poisk{
       font-size:20px;
        }
        .bt_ps{
        	margin-bottom: 15px;
            display: inline-block;
        }
        .param_sort {
            width: 50%;
        	float:right;
           
        }
        footer {
        
        }
        label {
            font-weight: normal;
        }
    </style>
    <meta charset="utf-8" />
    <title></title>
    </div>
    
</head>
<body>  

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">А.И.И.Р.-проект</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li><a href="/shabl"> Shablik</a></li>-->
                    <li><a href="{% url 'home' %}">Начальная страница</a></li>
                    <li><a href="/data">Страница поиска</a></li>
                    <li><a href="{% url 'contact' %}">Обратная связь</a></li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
<div class="container">
    <form action="search" method="get">
       <!-- <textarea name="q" cols="40" rows="3" style="font-size: 50px;"></textarea>-->
       <div class="form_all">
        <div class="poisk">
            <label> Введите желаемый товар
            
       <input  type="text" maxlength="30" name="q" size="50" value="{{ current_name }}" pattern="^[A-Za-zА-Яа-яЁё\s]+$" title="Допускаются только буквы русского и Английского алфавита."/>
            </label>
       <div class="bt_ps">
           <input type="submit" value="Поиск" class="btn btn-default btn-sm" aria-pressed="true" />
       </div>
            </div>
        
       <div class="magazin ">
       Магазины:
           </p>
           <div class="row">
               <div class="magaz_1">
                   <label > Lamoda
                   <input type="checkbox" name="lamoda" checked />   
                   </label>
                   </p>
                   <label>Pudra
                   <input type="checkbox" name="pudra" checked />   
                   </label>
                   </p>
               </div>
               <div class="magazin_2">
                   <label>Asos
                   <input type="checkbox" name="Asos" checked />   
                   </label>
                   </p>
                   <label> Roskosmetika
                   <input type="checkbox" name="roskosmetika" checked />   
                   </label>
                </div>
            </div>
       </div>
            <div class="param_sort" >
                  Параметры поиска
          
           </div>
        <div class="all_sort">
           

             <div class="sort">
                      </p>
           Сортировать по цене:
           <div class="sm_sort"> 
                <label>
                <input type="radio" name="sort_price" id="ybiv" value="no" /> Сортировать по убыванию цены
                </label><br/>
                 <label>
                <input type="radio" name="sort_price" id="vozrst" value="yes" checked /> Cортировать по возрастанию цены
                </label>
            </div>
           </p>
           <div class="ogr_price">
              <!--<label >
                   Включить ограничение цены :
                   <input type="checkbox" name="ogr_price">
                 
               </label>-->
               <div class="price_ot_do">
                    <label>
                   Цена от:
                   <input type="text" name="price_ot" size="10" pattern="[0-9]{0,15}"> руб.
               </label><br/>
                   <label>
                   Цена до:
                   <input type="text" name="price_do" size="10" pattern="[0-9]{0,15}"> руб.
               </label>
                    </div>
          </div>     
              
   </div>
        </div>
</div>
    </form>
    <!-- <div class="recover">
       <h2> В разроботке </h2>
        <form action="recover" method="get">
            <label title="Введите код поиска, для восстановления результатов прошлого поиска">Восстановить поиск
                </p>
            <input type="text" name="recover" value=" {  { current_name }}" /> <!-- pattern -->  
         <!--   </label>
            <input type="submit" value="Восстановить" class="btn btn-default btn-sm aria-pressed="tru" />
       </form>
        </div>
    -->
</div>
    <hr />
    <footer>
            <p>&copy; {{year}} - Всегда ваши, команда ТББ-шка</p>
        </footer>
    </div>
</body>
</html>


