﻿{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2>Агрегатор информационных интернет-ресурсов</h2>
    <p class="lead">АИИР - проект, реализующий автоматический поиск товаров среди некоторых интернет ресурсов <br/>(в данный момент реализован поиск товаров среди 4-ех косметических магазинов) </p>
    <p><a href="/data" class="btn btn-primary btn-large">Перейти на страницу поиска &raquo;</a></p>
</div>

<div class="row">
    <h3>Команда, которая реализовала данный проект: </h3>
    <div class="col-md-4">
        <h2>Томшин Артем Викторович</h2>
        <p>
            Разработчик </p>
<img src="../../static/app/image/Ar.png" width="200" height="200" />
        </p>
        <p><a class="btn btn-default" href="https://vk.com/person.hell">Всегда открыт &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Бирекпаева Камила Кайратовна</h2>
        <p>Документатор</p>
         <p><img src="../../static/app/image/Kb.jpg" width="200" height="250" /></p>

        <p><a class="btn btn-default" href="https://vk.com/kkotusur">Здесь меня можно найти &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Булатов Е.В.</h2>
        <p>Тестировщик :)</p>
        <p>
<img src="../../static/app/image/jen.jpg" width="300" height="200" /></p>
        <p><a class="btn btn-default" href="http://animevost.org/tip/tv/2166-seishun-buta-yarou-wa-bunny-girl-senpai-no-yume-wo-minai1.html">Что бы понять меня &raquo;</a></p>

    </div>
</div>

{% endblock %}
