﻿
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
     <title>{{ title }} - Реализовано с помощью Django сервера, джанго-манго - звучит то как !)</title>
<div class="container">
     {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    
    
    <style>
        .container {
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
}
        .niz {
            margin-left: 5 px;
        }
        .container{

        	margin-top:10px;
        }

        .row {
         display: inline-block;
        }

        .tabl {
            float:left;
            width: 60%;
       /* background-color: red;*/
        }
        .magaz {

            float:right;
            width: 40%;
       /* background-color: yellow;*/
        }

    </style>
    <meta charset="utf-16" />
    <title></title>
    </div>
    
</head>
<body>
     <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand">А.И.И.Р.-проект</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!--<li><a href="/shabl"> Shablik</a></li>-->
                    <li><a href="{% url 'home' %}">Начальная страница</a></li>
                    <li><a href="/data">Страница поиска</a></li>
                    <li><a href="{% url 'contact' %}">Обратная связь</a></li>
                </ul>

            </div>
        </div>
    </div>  
    </p>
    <div class="right">
    <h2>{{def}}</h2>

           
        {%include "app/include/include.html"%} 
    </p>
   </div>
    <hr />
    <div class="niz">
    <!--<p>Примечание: Дефолтные значения параметров "цена от" и "цена до" равны 0 и 99999 соотвественно.</br> Это происходит, если поля ввода "цена от" и "цена до" пусты, или при некорректных данных "цена до" и "цена от" </br> Некорректные данные : ("цена до" < 0) и/или ("цена от" > "цена до")--></p>
     <hr />
    <footer>
            <p>&copy; {{year}} - Всегда ваши, команда ТББ-шка</p>
        </footer>
    </div>
  </div>
   
    
</body>
</html>